      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/dashboard" class="text-nowrap logo-img">
              <img src="/images/logos/pblogo.png" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" />
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar>
            <ul id="sidebarnav">
              <!-- ============================= -->
              <!-- Home -->
              <!-- ============================= -->
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Dashboard</span>
              </li>
              <!-- =================== -->
              <!-- Dashboard -->
              <!-- =================== -->
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                  <span>
                    <i class="ti ti-aperture"></i>
                  </span>
                  <span class="hide-menu">Home</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/daily-ledger" aria-expanded="false">
                  <span>
                    <i class="ti ti-shopping-cart"></i>
                  </span>
                  <span class="hide-menu">Daily Ledger</span>
                </a>
              </li>

              <!-- ============================= -->
              <!-- Apps -->
              <!-- ============================= -->
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Transaction</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/transactions/recharge" aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar"></i>
                  </span>
                  <span class="hide-menu">Recharge Debit Card</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/transactions/purchase" aria-expanded="false">
                  <span>
                    <i class="ti ti-message-dots"></i>
                  </span>
                  <span class="hide-menu">Purchase</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/transactions/take-meal" aria-expanded="false">
                  <span>
                    <i class="ti ti-mail"></i>
                  </span>
                  <span class="hide-menu">Take Meal</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/transactions/buy-plan" aria-expanded="false">
                  <span>
                    <i class="ti ti-notes"></i>
                  </span>
                  <span class="hide-menu">Buy Plan</span>
                </a>
              </li>

              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Student</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/students/add-student" aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar"></i>
                  </span>
                  <span class="hide-menu">Add Student</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/students/total-students" aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar"></i>
                  </span>
                  <span class="hide-menu">Total Students</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/students/update-student" aria-expanded="false">
                  <span>
                    <i class="ti ti-calendar"></i>
                  </span>
                  <span class="hide-menu">Update Student</span>
                </a>
              </li>

              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Staff</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/add-staff" aria-expanded="false">
                  <span>
                    <i class="ti ti-friends"></i>
                  </span>
                  <span class="hide-menu">Add Staff</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/staff-attendance" aria-expanded="false">
                  <span>
                    <i class="ti ti-friends"></i>
                  </span>
                  <span class="hide-menu">Staff Attendance</span>
                </a>
              </li>
               <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/total-staff" aria-expanded="false">
                  <span>
                    <i class="ti ti-friends"></i>
                  </span>
                  <span class="hide-menu">Total Staff</span>
                </a>
              </li>
              
              
            </ul>
            <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
              <div class="d-flex">
                <div class="unlimited-access-title">
                  <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Unlimited Access</h6>
                  <button class="btn btn-primary fs-2 fw-semibold lh-sm">Signup</button>
                </div>
                <div class="unlimited-access-img">
                  <img src="/images/backgrounds/rocket.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </nav>
          
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->